
<div class="row mb-3">
    <nav class="nav nav-pills flex-column flex-sm-row col-12">
        <a class="flex-sm-fill text-sm-center nav-link {{nav_path_active path '/books' }}" href="/books">Books</a>
        <a class="flex-sm-fill text-sm-center nav-link {{nav_path_active path '/authors' }}" href="/authors">Authors</a>
    </nav>
</div>
