<h1 class="d-flex justify-content-between">{{ author.name }} <span class="badge badge-primary badge-pill">{{date_format author.birthDate }}</span></h1>
<hr>
<h6>{{ author.nationality }}</h6>
<div class="btn-list">
    <a href="/books" class="btn btn-primary mt-3">Back to list</a>
</div>